// -----------------------------------------------------
// トップページカードナビ
// -----------------------------------------------------

.patient-form {
    .form-group {
        > label {
            text-align: right;
            font-weight: bold;
            @include max-sm {
                text-align: left;
                font-size: 0.9rem;
                margin-bottom: 5;
            }
        }
    }
}
// -----------------------------------------------------
// 検索画面
// -----------------------------------------------------
.input-group-btn {
    @include max-sm {
        button {
            font-size: 0.8rem;
        }
    }
}
// -----------------------------------------------------
// 一覧画面
// -----------------------------------------------------
.tb-responsive {
    .column-address {
        width: 30%;
    }
    @include max-sm {
        .column-address {
            width: 100%;
        }
        box-shadow: none;
        thead {
            th {
                display: none;
            }
        }
        tbody {
            tr {
                @include base-box-shadow();
                margin-bottom: 30px;
                display: block;
                td {
                    position: relative;
                    display: block;
                    padding-left: 90px;
                    min-height: 52px;
                    background-color: #fff;
                    &:before {
                        content: attr(data-label);
                        position: absolute;
                        left: 10px;
                        font-weight: bold;
                    }
                    &.edit-btn {
                        text-align: right;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------
// 詳細画面
// -----------------------------------------------------
.patient-show-table {
    th {
        width: 30%;
        text-align: right;
    }
}
