// -----------------------------------------------------
// トップページカードナビ
// -----------------------------------------------------

.patient-form {
    .form-group {
        > label {
            text-align: right;
        }
    }
}

// -----------------------------------------------------
// 検索ボックス
// -----------------------------------------------------

.patient-search-box {
    max-width: 600px;
    margin: auto;
}
