// -----------------------------------------------------
// トップページカードナビ
// -----------------------------------------------------

.card {
    .card-wrap {
        overflow: hidden;
        height: 90px;
        position: relative;
        img {
            top: -40%;
            width: 100%;
            position: relative;
        }
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-color: rgba(#000,0.3);
        }
        h4 {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 250px;
            height: 40px;
            font-size: 30px;
            z-index: 2;
            color: #fff;
            letter-spacing: 4px;
            text-align: center;
        }
    }
    .list-group-item {
        color: #000;
        &:hover {
            background-color: rgba($gray-lighter, 0.8);
        }
    }
}
