// -----------------------------------------------------
// トップページカードナビ
// -----------------------------------------------------

.card {
    .card-wrap {
        overflow: hidden;
        height: 120px;
        img {
            top: -40%;
            width: 100%;
            position: relative;
        }
    }
    .list-group-item {
        color: #000;
        &:hover {
            background-color: rgba($brand-primary,0.1);
        }
    }
}
